/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#General Styles
	#Section Styles	
	#Media Queries
	#Font-Face */

/* #General Styles
================================================== */

/* Browser behaviour */
::selection {
	background: #df5a5e; /* Safari */
	color: #fff;
	}
::-moz-selection {
	background: #df5a5e; /* Firefox */
	color: #fff;
}

input[placeholder], [placeholder], *[placeholder] {
   color: #aca9a9;
}


/* Helper classes */
.hide{
	display: none;
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.reset{
	clear: both;
}

.container {
	background: #fff;
	margin: 2px auto 0 auto;
	border-top: 5px solid #d46a6f;
}


/* Buttons */
.btn-primary, .btn-secondary{
	background: #df5a5e;
	padding: 6px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	font-weight: 600;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 

}

.btn-icon{
	height: 43px;
	width: 43px;
	position: relative;
}

.btn-icon-small{
	height: 23px;
	width: 43px;
	position: relative;
}

.btn-primary:hover, .btn-secondary:hover{
	color: #fff;
	background: #ba4447;
	 -webkit-transition: 0.30s ease-in;
    -moz-transition: 0.30s ease-in;
}

.btn-secondary{
	background: #67ab97;
}

.btn-secondary:hover{
	background: #4a917c;
}

.btn-left{
	float: left;
}

.btn-right{
	float: right;
	margin-right: 10px !important;
	display: block;
}

.btn-large{
	width: 100%;
	color: #fff !important;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
}

/* Icons */
i{
	display: inline-block;
}

.icon-create-list{
	background: url('assets/icon-create-list.png') no-repeat;
	width: 20px;
	height: 12px;
	position: absolute;
	top: 15px;
	left: 12px;
}

.icon-settings{
	background: url('assets/icon-settings.png') no-repeat center center;
	position: absolute;
	top: 10px;
	left: 11px;
	height: 22px;
	width: 22px;
}


.icon-camera{
	background: url('assets/icon-camera.png') no-repeat center center;
	position: absolute;
	top: 10px;
	left: 11px;
	height: 22px;
	width: 22px;
}


.icon-wink{
	background: url('assets/icon-wink.png') no-repeat;
	width: 15px;
	height: 15px;
	margin-top: 7px;
	background-size:15px 15px;
}

.icon-list{
	background: url('assets/icon-list.png') no-repeat;
	width: 20px;
	height: 12px;
	margin-top: 8px;
	top: 10px;
}

.icon-home-screen{
	background: url('../img/icon-home.png') no-repeat;
	width: 20px;
	height: 12px;
	margin-top: 13px;
	margin-left: 5px;
}

.icon-info{
	background: url('../img/icon-info.png') no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 6px;
}

.btn-primary .icon-list{
	background: url('assets/icon-list.png') no-repeat;
	width: 20px;
	height: 12px;
	left: 12px;
	top: 8px;
	position: absolute;
}



/* #Section Styles
================================================== */
header{
	background: #323a45;
	padding: 5px 0;
	display: block;
	color: #fff;
	text-align: center;
}

.main-header{
	position: fixed;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #232426;
	padding: 12px 0 12px 0;
	z-index: 300;
}

.main-header h1{
	font-size: 1.5em;
	font-weight: 500;
}


.main-header .btn-primary, .main-header .btn-secondary{
	margin: 4px 0 4px 10px;
	padding: 4px;
}

.main-header .badassstroker {
	position: absolute;
	border-right: 1px solid #7c7c7c;
	padding-right: 9px;
}

.main-header form {
	padding: 0 68px 0 62px;
	float: none;
	width: auto;
}

.main-header form input {
	width: 100%!important;
}

.main-header #camera-button {
	position: absolute;
	right: 5px;
}

.sub-header, .sub-header-small{
	background: #7f8c9d;
	color: #fff;
	font-size: 1.3em;
	border-top: 1px solid #8d99a8;
	border-bottom: 1px solid #676a72;
	padding: 9px 12px;
	font-weight: 500;
	text-align: left;
}

.sub-header-small{
	padding: 5px 12px;
	font-size: 1.1em;
	cursor: pointer;
}

.sub-header i{
	float: right;
}

.list{
	background: #fff;
	display: block;
}



/* New List */
#new-list{
	display: none;
	left: -400px;
	overflow: auto;-
}

#new-list header{
	background: #323a45;
}


/* Overview page */
#overview-list{
	clear: both;
	padding: 75px 0 0 0;
}

.destination{
	position: absolute;
	font-size: 0.8em;
	padding: 2px 4px;
	line-height: 17px;
	background: #d3d8de;
	font-weight: 100;
	display: inline-block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	right: 8px;
	top: 8px;
	opacity: 0.9;
	font-size: 12px;
	font-family: 'proxima-nova', 'Helvetica';
	display: none;
}

.deadline{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #dee1e4;
	font-size: 13px;
	padding: 0 7px;
	position: absolute;
	right: 10px;
	top: 12px;
}

.list-type{

	background: #dee1e4;
	padding: 4px;
	font-size: 13px;
	display: inline-block;
	line-height: 19px;
	margin-bottom: 6px;
}

#overview-list ul{
	border-top: 1px 
}

#overview-list ul li a{
	display: block;
	font-size: 1.1em;
}

#overview-list ul li{
	padding: 16px 10px;
	border-bottom: 1px solid #d8dce1;
	position: relative;
}

#overview-list ul li:last-child{
	border-bottom: 0;
}


.roll-over-window{
	width: 310px;
	height: 100%;
	position: absolute;
	background: #fff;
	z-index: 1000;
	box-shadow: 4px 4px 0px -3px #2f2f2f;
	background: #e3e5e9;
	border-right: 1px solid #202224;
	-webkit-overflow-scrolling: touch;
}

.form-section{
	margin: 10px ;
	width: 264px;
}

.form-section label{
	font-size: 1.2em;
	font-weight: 300;
}

.form-section input, .form-section textarea{
	padding: 8px;
	font-size: 1.1em;
	width: 100%;
	-webkit-appearance: none;
}


/* Detail page */
.section-header{
	background: #515e6f;
	padding: 80px 10px 10px 10px;
	border-top: 1px solid #65707f;
	border-bottom: 1px solid #434d5b;
	text-align: left;
	line-height: 33px;
}

.section-header ul li{
	display: inline-block;
}

#detail-list ul li, #detail-list-panel .book-list li{
	overflow: auto;
	border-bottom: 1px solid #d8dce1;
	padding: 10px 5px;
	position: relative;
}

#detail-list ul li h3, 
#detail-list ul li h4, 
#detail-list ul li h5{
	font-size: 1.1em;
	color: #323a45;
	display: block;
}

#detail-list ul li h5{
	font-size: 0.8em;
	margin-top: -3px;
}

#detail-list ul li .cover, #detail-list-panel .book-list li .cover{
	float: left;
	overflow: auto;
	margin-right: 8px;
	margin-left: 3px;
}
#detail-list ul li ul{
	margin-left: 68px;
}

#detail-list ul li ul li{
	margin-bottom: 4px;
}


#detail-list ul li h3, #detail-list-panel .book-list li h3{
	font-size: 0.95em;
	font-weight: 700;
	line-height: 15px
}



#detail-list ul li h5, #detail-list-panel .book-list li h5{
	font-size: 0.8em;
	font-weight: 300;
}

#detail-list-panel .book-list ul li h5, #detail-list-panel .book-list li h3{
	color: #323a45;
}


#detail-list ul li:nth-child(even){
	background: #f4f4f4;
}

#detail-list ul li{
	background: #ebebeb;
	overflow: hidden;
}

#assignment-list .main-header{
	text-align: left
}

#detail-list-panel .section-header{
	padding: 5px 8px 5px 8px;
}

#detail-list-panel .section-header i{
	margin-right: 8px;
}


.icon-calendar{
	background: url('../img/icon-calendar.png') no-repeat left center;
	padding-left: 23px
}

.icon-author{
	background: url('../img/icon-author.png') no-repeat left center;
	padding-left: 23px;
	margin-left: 20px;
}

.icon-arrow-down{
	background: #7f8c9d url('../img/icon-right-down.png') no-repeat 98% center;
}

.icon-arrow-up{
	background: #7f8c9d url('../img/icon-right-up.png') no-repeat 98% center;
}



#detail-list-panel{
	display: none;
	right: 100%;
	-webkit-box-shadow: -1px 0 2px #222;   
}


.search-form, .search-form-narrow{
	float: left;
	display: block;
	margin: 3px 0 0 15px;
	padding-left: 15px;
	border-left: 1px solid #636971;
	display: block;
	width: 70%;
}

.search-form-narrow{
	margin:0 0 0 0;
	height: auto;
	border-left: none;
}

.search-form #search, .search-form-narrow #search{
	margin: 0;
	padding: 13px 10px 13px 25px;
	font-size: 1em;
	background: #fff url('../img/icon-search.png') no-repeat 5px center;
	width: 75%;
	-webkit-appearance: none;
	border: 0;
	float: left;
}

.search-form-narrow #search{
	border-left: 1px solid #636971;
	margin-left: 10px;
	margin-top: 3px;
}

.search-form-narrow #camera-button{
	position: relative;
	float: none;
	display: inline-block;
	top: 0;
	padding: 0;
	margin: 3px 0 0 8px;
}




#detail-list-panel{

}

#detail-list-panel header:first-child{
	overflow: auto;
	padding: 20px 10px;
}

#detail-list-panel img{
	float: left;
	margin-right: 15px;
}

#detail-list-panel h3{
	font-size: 1.2em;
	line-height: 19px;
}

#detail-list-panel h5{
	font-size: 0.8em;
	color: #939ba6;
}

#detail-list-panel h3, #detail-list-panel h5{
	text-align: left;
	display: block;
	font-weight: 700;
}

#detail-list-panel h5{
	font-weight: 500;
	font-family: 'proxima-nova',Helvetica, sans-serif;
}

#detail-list .book-list ul li, #detail-list-panel header ul li, #detail-list-panel #review-list ul li{
	display: inline-block;
	background: #67ab97;
	padding: 3px 6px;
	line-height: 20px;
	-webkit-border-radius: 4px;
	color: #fff;
}

#detail-list .book-list ul li:last-child, #detail-list-panel #review-list ul li:last-child{
	background: #df5a5e;
}




/* Detail list panel */
#detail-list-panel{
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
}

#detail-list-panel header ul{
	display: inline-block;
}

#detail-list-panel .sub-header-small{
	padding: 10px 10px !important;
	line-height: 15px;
}

#detail-list-panel .reviews header{
	font-size: 1em;
	color: #323a45;
	background: #e3e5e9;
	border-bottom: 1px solid #69737f;
	padding: 6px;
}

#detail-list-panel header ul{
	float: left;
}


/* Reviews */
#detail-list-panel .reviews header{
	position: relative;
}


#detail-list-panel .reviews header:first-child{
	border-top: 1px solid #f1f2f3;
}

#detail-list-panel .reviews header img{
	margin-right: 5px;
}

#detail-list-panel .reviews header h3{
	color: #323a45;
	font-weight: 900;
	margin-top: 4px;
}

#detail-list-panel .reviews section{
	background: #fff;
	padding: 15px;
	line-height: 1.4em;
	border-bottom: 1px solid #b9bdc3;
	color: #4f5a69;
	font-size: 0.95em;
}

#detail-list-panel .reviews .reviewScore{
	width: 90px;
	position: absolute;
	right: 4px;
	top: 12px;
}

#detail-list-panel .reviews  header .reviewScore img{
	margin-right: 2px;
}


/* Review form */
.add-review{
	padding: 15px;
	background: #323a45;
	color: #fff;
	border-bottom: 1px solid #4a525c;
}

.add-review a{
	color: #fff;
	text-align: center;
	font-weight: 600;
	display: block;
	font-size: 1.2em;
	padding: 5px 5px;
}

#review-form{
	margin-top: 0;
	margin-bottom: 0;
}

#detail-list-panel #review-form #star{
	float: left;
}

#detail-list-panel #review-form #star img{
	float: left;
	margin-right: 2px;
}

#review-form label{
	float: left;
	display: inline-block;
	padding: 0 10px 0 0;
	font-size: 1.2em;
}

#review-form textarea{
	width: 100%;
	margin: 0 0 10px 0;
	font-size: 1.1em;
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;   
}

#review-form #star{
	margin-top: 6px;
}

.add-item{
	background: #df5a5e;
	height: 20px;
	padding: 0;
	width: 20px;
	display: block;
	float: left;
}

.item-complete, .item-uncomplete, .item-add{
	top: 10px;
	width: 12px;
	height: 20px;
	display: inline-block;
	background: url('../img/icon-add.png') center 4px no-repeat;
}

.item-uncomplete{
	background: url('../img/icon-remove.png') center 4px no-repeat;
}

.item-add{
	background: url('../img/icon-add-plus.png') center 4px no-repeat;
}

.icon-move-up{
	background: url('../img/icon-arrow-up.png') center top no-repeat;
	height: 12px;
	width: 11px;
	position: absolute;
	right: 5px;
	top: 25px;
	opacity: 0.4;
	padding: 10px;
}

.icon-move-down{
	background: url('assets/icon-arrow-down-triangle.png') center bottom no-repeat;
	bottom: 25px;
	right: 5px;
	height: 12px;
	width: 11px;
	position: absolute;
	opacity: 0.4;
	padding: 10px;
}

.icon-move-list{
	background: url('../img/icon-move-arrow.png') center right no-repeat;
	top: 23px;
	right: 10px;
	height: 12px;
	width: 11px;
	position: absolute;
	opacity: 1;
	padding: 15px;
	opacity: 0.5;
}

.moveIcons{
	position: absolute;
	height: 70px;
	top: 10px;
	width: 40px;
	right: 20px;
}



/* Login */
#login h2{
	font-size: 1.7em;
	margin: 15px 0 5px 0;
	display: block;
}

#login-form{
	width: 300px;
	margin: 10px auto;
}

#login-form input, #login-form a{
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#login-form input{
	margin: 8px 0;
}
#login-form label{
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;
}
#login-form .btn-primary{
	width: 300px;
	display: block;
	text-align: center;
	color: #fff;
}
#login-form #facebookConnect{
	position: relative;
}
#login-form #facebookConnect b{
	font-weight: 800;
}
#login-form #facebookConnect img{
	position: absolute;
	left: 20px;
	top: 15px;
}

#login-form span{
	text-align: center;
	color: #fff;
	display: block;
	margin: 10px 0;
	font-weight: bold;
}

#branding{
	border-bottom: 1px solid #232426;
	padding: 15px 0 5px 0;
}


#detail-list .bibliography-header{
	background: #323a45;
}

#detail-list .bibliography-header a{
	width: 100%;
	display: block;
	text-align: center;
	margin: 5px 0;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#add-to-bio{
	padding-top: 0;
}


/* Search om home page */
#searchForm{
	width: 100%;
	display: block;
	padding: 10px;
	border-top: 1px solid #202224;
	border-bottom: 1px solid #202224;
	background: #515e6f;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
	-webkit-box-shadow: 0px 2px 4px #3f4d58;
	-moz-box-shadow: 0px 2px 4px #3f4d58;
	box-shadow: 0px 2px 4px #3f4d58;
	position: relative;
	overflow: auto;
}

#searchForm input{
    float: left;
    border: none;
    width: 100%;
    -webkit-appearance: none;
   border-radius: 0;
    padding: 11px 10px 12px 30px;
    font-size: 1.3em;
    background: #fff url('../img/icon-search.png') 10px center no-repeat;
    border: 0;
   	display: block;
	margin-right: 3px;
	border-right: 1px solid #3f3f3f;
	font-size: 1em;
}
#camera-button {
    border: none;
    float: left;
    position: absolute;
    top: 11px;
    right: 0px;
}
#search-cont {
    padding-right: 54px;
}

#detail-list-panel{
	border-left: 0;
	-webkit-box-shadow: -5px 0px 15px rgba(50, 50, 50, 0.33);
	-moz-box-shadow:    -5px 0px 15px rgba(50, 50, 50, 0.33);
	box-shadow:         -5px 0px 15px rgba(50, 50, 50, 0.33);
}


.wrapper {
  margin: 50px auto;

  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;

}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}

#assignment-list #search{
	border-radius: 0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.typelist{
	background: #d3d8de !important;
	color: #323a45 !important;
}
